@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Opens Sans', sans-serif;
}

.tab {
  margin-bottom: 10px;
}

.tab button {
  height: 45px;
  background-color: transparent;
  float: left;
  outline: none;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  transition: 0.3s;
  font-size: 17px;
  font-weight: 300;
  color: rgb(95, 97, 107);
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: transparent;
  font-weight: bold;
  color: #313A73;
  border-bottom: 2px solid #313A73;
}

.tabcontent {
  display: none;
  border-top: none;
  -webkit-animation: fadeEffect .4s ease-in;
  animation: fadeEffect .4s ease-in;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* ------------ */
/* Cards styles */
/* ------------ */
.form-cards {
  width: 100%;
  height: 420px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.container-scroll-vertical {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 470px;
  padding: 8px;
}

.tab-content {
  height: 100%;
}

/* ------------- */
/* Styles card's */
/* ------------- */
.card-list-click {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  height: 100px;
  grid-gap: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  transition: scale .3s ease;
}

.card-list-click:hover {
  scale: 1.03;
}

.card-list-click:nth-child(1) {
  background-color: rgba(78, 195, 237, 0.3) !important;
}

.card-list-click:nth-child(2) {
  background-color: rgba(243, 114, 199, 0.3) !important;
}

.card-list-click:nth-child(3) {
  background-color: rgba(144, 119, 245, 0.3) !important;
}

.card-list-click:nth-child(4) {
  background-color: rgba(255, 194, 213, 0.8) !important;
}

.card-list-click:nth-child(5) {
  background-color: rgba(106, 92, 248, 0.4) !important;
}

.card-part-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-part-one-title {
  display: block;
  font-size: 20px;
  line-height: 30px !important;
  border: none !important;
  margin: 0;
  color: #fff;
}

.card-part-one-subtitle {
  color: #fff !important;
  font-size: 12px !important;
  font-weight: 300 !important;
}

.sub-card-submit {
  width: 40px;
  height: 40px;
  position: relative;
}

.card-btn-arrow {
  width: 40px !important;
  height: 40px !important;
  background: url('../icons/arrow-right.svg') center #fff no-repeat;
  background-size: 13px 13px;
  border-radius: 50% !important;
  outline: none;
  border: none !important;
  transition: all .5s ease;
}

.card-btn-arrow:hover {
  scale: 1.1;
  rotate: 90deg;
}

.img-card-small {
  height: 100px;
  width: auto;
}

@media (max-width: 320px) and (min-height: 500px) {
  .container-scroll-vertical {
    grid-template-columns: 1fr;
    height: 350px;
  }

  .form-cards {
    grid-template-columns: 1fr;
  }

  input[type='submit'] {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  a.nav-item {
    font-size: 14px;
  }

  .content-opt {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 414px) and (min-height: 600px) {
  .container-scroll-vertical {
    grid-template-columns: 1fr;
    height: 380px;
  }

  .form-cards {
    grid-template-columns: 1fr;
  }

  input[type='submit'] {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  a.nav-item {
    font-size: 14px;
  }

  .content-opt {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 414px) and (min-height: 700px) {
  .container-scroll-vertical {
    grid-template-columns: 1fr;
    height: 450px;
  }

  .form-cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 414px) and (min-height: 800px) {
  .container-scroll-vertical {
    grid-template-columns: 1fr;
    height: 530px;
  }

  .form-cards {
    grid-template-columns: 1fr;
  }
}